src/main/resources/xsd/boleta.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ms.boleta.soap"
           xmlns:tns="http://ms.boleta.soap"
           elementFormDefault="qualified">

    <!-- DETALLE -->
    <xs:complexType name="DetalleType">
        <xs:sequence>
            <xs:element name="idProducto" type="xs:long"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="cantidad" type="xs:int"/>
            <xs:element name="precio" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <!-- REQUEST -->
    <xs:element name="CrearBoletaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idCliente" type="xs:long"/>
                <xs:element name="detalles"
                            type="tns:DetalleType"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RESPONSE -->
    <xs:element name="CrearBoletaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="codigo" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ObtenerBoletaRequest">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element name="id" type="xs:long"/>
	        </xs:sequence>
	    </xs:complexType>
	</xs:element>
	
	<xs:element name="ListarBoletasRequest">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element name="page" type="xs:int"/>
	            <xs:element name="size" type="xs:int"/>
	        </xs:sequence>
	    </xs:complexType>
	</xs:element>

</xs:schema>